* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: repeating-linear-gradient(90deg, #E93E34, #E93E34 60px, #FD9850 60px, #FD9850 120px);
}

h2 {
  color: white; /* white */
}

p {
  color: white;
}

 /* unvisited link */
a:link {
  color: #DC143C;
}

/* visited link */
a:visited {
  color: #DC143C;
}

/* mouse over link */
a:hover {
  color: #FFD18C;
}

/* selected link */
a:active {
  color: #FFD18C;
}

@font-face {
  font-family: Strange Path;
  src: url("/e621-json-dump/Static/Font/Strange_Path.ttf");
}

@font-face {
  font-family: Rubik;
  src: url("/e621-json-dump/Static/Font/Rubik-Light.ttf");
}

/* Style the header */
.header {
  /* background: rgba(128, 128, 128, 0.2); #f1f1f1 #020F23 #152F56
  background-image: url('/e621-json-dump/Static/header.png');
  padding: 5px; 
  margin-bottom: 16px; */
  text-align: center;
  font-size: 25px;
}

.col-container {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  padding: 16px;
  background: #191524; /* #284980 */
}
	
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  flex: 1;
  width: 50%;
  padding: 10px;
  height: 33.33%; /* Should be removed. Only for demonstration */
}	
	
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background: #382B2C; /* #f1f1f1 241, 241, 241, .2*/
  padding: 10px;
  margin-top: 16px;
  text-align: center;
  color: white;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #150607;
  overflow-x: hidden;
  background-image: url('/e621-json-dump/Static/hh_header.png');
  background-repeat: no-repeat;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .col {
  	padding: 0px;
  }
  .column {
    width: 100%;
    height: 100%;
  }
  .col-container {
  	display: block;
  }
  .sidenav {
  	width: 100px;
  }
  .content {
  	margin-left: 100px;
  	padding-left: 0px;
  	padding-right: 0px;
  }
}
