* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/e621-json-dump/Static/body.png');
  background-color: #020f23; /* #152F56 */
}

h2 {
  color: #B4C7D9; /* white */
}

p {
  color: white;
}

 /* unvisited link */
a:link {
  color: #E7B01B;
}

/* visited link */
a:visited {
  color: #E7B01B;
}

/* mouse over link */
a:hover {
  color: #8589B0;
}

/* selected link */
a:active {
  color: blue;
} 
	
@font-face {
  font-family: BungeeShade-Regular;
  src: url("/e621-json-dump/Static/Font/BungeeShade-Regular.ttf");
}

@font-face {
  font-family: MatrixZone;
  src: url("/e621-json-dump/Static/Static/Font/Matrix_Zone.ttf");
}

@font-face {
  font-family: Bat;
  src: url("/e621-json-dump/Static/Static/Font/Bat.ttf");
}

@font-face {
  font-family: Game Of Squids;
  src: url("/e621-json-dump/Static/Static/Font/Game Of Squids.ttf");
}

/* Style the header */
.header {
  /* background: rgba(128, 128, 128, 0.2); #f1f1f1 #020F23 #152F56
  background-image: url('/e621-json-dump/Static/header.png');
  padding: 5px; 
  margin-bottom: 16px; */
  text-align: center;
  font-size: 20px;
}

.col-container {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  padding: 16px;
  background: #152F56; /* #284980 */
}
	
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  flex: 1;
  width: 50%;
  padding: 10px;
  height: 33.33%; /* Should be removed. Only for demonstration */
}	
	
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  content: 'CONTENT_TEST';
  background: rgba(128, 128, 128, 0.2); /* #f1f1f1 241, 241, 241, .2*/
  padding: 10px;
  margin-top: 16px;
  text-align: center;
  color: white;
}

.log {
  background-color: #111;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #152F56;
  overflow-x: hidden;
  background-image: url('/e621-json-dump/Static/header.png');
  background-repeat: no-repeat;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .col {
  	padding: 0px;
  }
  .column {
    width: 100%;
    height: 100%;
  }
  .col-container {
  	display: block;
  }
  .sidenav {
  	width: 100px;
  }
  .content {
  	margin-left: 100px;
  	padding-left: 0px;
  	padding-right: 0px;
  }
}
